{% extends "evacuation/base.html" %}

{% load static %}

{% block title %}Survey{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'survey/css/survey.css' %}">
{% endblock %}

{% block content %}
{% if has_taken %}
<div class="col-12">
    <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
        <span class="badge badge-pill badge-primary">Info</span>
            Thanks for taking our survey!
    </div>
</div>
{% else %}
<div class="col-12">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                <span class="badge badge-pill badge-success">Success</span>
                    {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
                <span class="badge badge-pill badge-primary">Info</span>
                    {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Error</span>
                    {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-header">
            Post evacuation - Survey
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                {% for question in survey %}
                    <div class="row form-group" id="container_q_{{ question.id }}" {% if question.depends_on_question %}style="display: none;"{% endif %}>
                    {% if question.type == 'Text' %}
                        <div class="col-12">
                            <label for="q_{{ question.id }}" class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col-12">
                            <textarea name="q_{{ question.id }}" id="q_{{ question.id }}" rows="3" placeholder="" class="form-control" {{ question.required|yesno:"required," }}></textarea>
                        </div>
                    {% elif question.type == 'SingleChoice' %}
                        <div class="col-12">
                            <label class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                              {% for choice in question.get_choices %}
                                <div class="radio">
                                  <label for="q_{{ question.id }}_c_{{ choice.id }}" class="form-check-label ">
                                    <input type="radio" id="q_{{ question.id }}_c_{{ choice.id }}" name="q_{{ question.id }}" value="c_{{ choice.id }}" class="form-check-input" {{ question.required|yesno:"required," }}>{{ choice.text }}
                                  </label>
                                </div>
                              {% endfor %}
                          </div>
                        </div>
                    {% elif question.type == 'SingleChoiceOther' %}
                        <div class="col-12">
                            <label class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                              {% for choice in question.get_choices %}
                                <div class="radio">
                                  <label for="q_{{ question.id }}_c_{{ choice.id }}" class="form-check-label ">
                                    <input type="radio" id="q_{{ question.id }}_c_{{ choice.id }}" name="q_{{ question.id }}" value="c_{{ choice.id }}" class="form-check-input" {{ question.required|yesno:"required," }}>{{ choice.text }}
                                  </label>
                                </div>
                              {% endfor %}
                                <div class="radio">
                                  <label for="q_{{ question.id }}_c_other" class="form-check-label ">
                                    <input type="radio" id="q_{{ question.id }}_c_other" name="q_{{ question.id }}" value="c_other" class="form-check-input" {{ question.required|yesno:"required," }}>Other:
                                      <input type="text" name="other_{{ question.id }}" class="form-control">
                                  </label>
                                </div>
                          </div>
                        </div>
                    {% elif question.type == 'MultipleChoice' %}
                        <div class="col-12">
                            <label class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                              <div class="checkbox-group {{ question.required|yesno:'required,' }}">
                                  {% for choice in question.get_choices %}
                                    <div class="checkbox">
                                      <label for="q_{{ question.id }}_c_{{ choice.id }}" class="form-check-label ">
                                        <input type="checkbox" id="q_{{ question.id }}_c_{{ choice.id }}" name="q_{{ question.id }}" value="c_{{ choice.id }}" class="form-check-input">{{ choice.text }}
                                      </label>
                                    </div>
                                  {% endfor %}
                              </div>
                          </div>
                        </div>
                    {% elif question.type == 'MultipleChoiceOther' %}
                        <div class="col-12">
                            <label class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                              <div class="checkbox-group {{ question.required|yesno:'required,' }}">
                                  {% for choice in question.get_choices %}
                                    <div class="checkbox">
                                      <label for="q_{{ question.id }}_c_{{ choice.id }}" class="form-check-label ">
                                        <input type="checkbox" id="q_{{ question.id }}_c_{{ choice.id }}" name="q_{{ question.id }}" value="c_{{ choice.id }}" class="form-check-input">{{ choice.text }}
                                      </label>
                                    </div>
                                  {% endfor %}
                                    <div class="checkbox">
                                      <label for="q_{{ question.id }}_c_other" class="form-check-label ">
                                        <input type="checkbox" id="q_{{ question.id }}_c_other" name="q_{{ question.id }}" value="c_other" class="form-check-input">Other:
                                          <input type="text" name="other_{{ question.id }}" class="form-control">
                                      </label>
                                    </div>
                              </div>
                          </div>
                        </div>
                    {% elif question.type == 'Sketch' %}
                        <div class="col-12">
                            <label class=" form-control-label">{{ forloop.counter }}. {{ question.text }}</label>
                        </div>
                        <div class="col col-sm-2"><label for="change_floor_{{ question.id }}" class=" form-control-label">Change floor:</label></div>
                        <div class="col-12 col-sm-3">
                          <select name="floor_{{ question.id }}" id="change_floor_{{ question.id }}" class="form-control">
                            <option value="0">Ground level</option>
                            <option value="1">First level</option>
                            <option value="2">Second level</option>
                            <option value="3">Third level</option>
                          </select>
                        </div>
                        <div class="col-12">
                            <div class="col col-sm-4">
                                <button type="button" class="btn btn-outline-success" id="start-drawing">
                                    <i class="fa fa-pencil"></i>&nbsp; Draw
                                </button>
                                <button type="button" class="btn btn-outline-danger" id="stop-drawing" style="display: none;">
                                    <i class="fa fa-times"></i>&nbsp; Done
                                </button>
                                <button type="button" class="btn btn-outline-primary" id="undo-drawing" style="display: none;">
                                    <i class="fa fa-undo"></i>&nbsp; Undo
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <div id="editor_{{ question.id }}" class="sketchpad">
                                <img src="{% static 'survey/images/3.png' %}" class="background-floor-image" />
                            </div>
                            <input type="hidden" name="q_{{ question.id }}" id="q_{{ question.id }}" />
                            <input type="hidden" name="properties_{{ question.id }}" id="properties_{{ question.id }}" />
                          </div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
                {% if survey %}
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
                {% else %}
                No more questions
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'survey/js/jquery-migrate-1.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'survey/js/raphael-2.0.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'survey/js/json2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'survey/js/raphael.sketchpad.js' %}"></script>
<script type="text/javascript">

{% for question in survey %}
    {% if question.type == 'Sketch' %}

      $("#start-drawing").click(function() {
            sketchpad.editing(true);
            $("#start-drawing").hide();
            $("#stop-drawing").show();
            $("#undo-drawing").show();
            $("#editor_{{ question.id }}").find("img").css("opacity", 1.0);
        });

        $("#stop-drawing").click(function() {
            sketchpad.editing(false);
            $("#start-drawing").show();
            $("#stop-drawing").hide();
            $("#undo-drawing").hide();
            $("#editor_{{ question.id }}").find("img").css("opacity", 0.7);
        });

        $("#undo-drawing").click(function() {
            sketchpad.undo();
        });


      var sketchpad = Raphael.sketchpad("editor_{{ question.id }}", {
        width: 405,
        height: 800,
        editing: true
      });

      // When the sketchpad changes, update the input field.
      sketchpad.change(function() {
        $("#q_{{ question.id }}").val(sketchpad.json());
      });

      $("#stop-drawing").click();

      $("#change_floor_{{ question.id }}").change(function() {
        var floorImages = [
            "{% static 'survey/images/0.png' %}",
            "{% static 'survey/images/1.png' %}",
            "{% static 'survey/images/2.png' %}",
            "{% static 'survey/images/3.png' %}",
        ];
        var floorImage = floorImages[parseInt($("#change_floor_{{ question.id }}").val())]
        $("#editor_{{ question.id }}").find("img").attr("src", floorImage);
      });

      $("#change_floor_{{ question.id }}").val("{{ floor }}").change();

      $("#properties_{{ question.id }}").val(
        $("#editor_{{ question.id }}").find("img").width() + "," + $("#editor_{{ question.id }}").find("img").height()
      );

    {% endif %}
    {% if question.depends_on_question %}
        $("input[name='q_{{ question.depends_on_question.id }}']").change(function (){
            if($(this).parent().text().trim() == '{{ question.depends_on_text }}'){
                $("#container_q_{{ question.id }}").show();
            }
            else{
                $("#container_q_{{ question.id }}").hide();
            }
        });
    {% endif %}
{% endfor %}
</script>
<script type="text/javascript" src="{% static 'survey/js/survey.js' %}"></script>
{% endblock %}