{% extends "evacuation/base.html" %}

{% block title %}Alerts{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4>New alerts</h4>
    </div>
    <div class="card-body">
        {% if unread_notifications %}
            {% for notification in unread_notifications %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa {{ notification.icon_class }} p-3 font-2xl mr-3 float-left text-light"></i>
                            <div class="h5 text-secondary mb-0 mt-1">{{ notification.title }}</div>
                            <div class="text-muted font-weight-bold font-xs small">{{ notification.description }}</div>
                        </div>
                        {% if notification.action_url %}
                        <hr>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" href="{{ notification.action_url }}">{{ notification.action_text }}<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No new alerts</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>Previous alerts</h4>
    </div>
    <div class="card-body">
        {% if read_notifications %}
            {% for notification in read_notifications %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa {{ notification.icon_class }} p-3 font-2xl mr-3 float-left text-light"></i>
                            <div class="h5 text-secondary mb-0 mt-1">{{ notification.title }}</div>
                            <div class="text-muted font-weight-bold font-xs small">{{ notification.description }}</div>
                        </div>
                        {% if notification.action_url %}
                        <hr>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" href="{{ notification.action_url }}">{{ notification.action_text }}<i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No previous alerts</p>
        {% endif %}
    </div>
</div>
{% endblock %}