<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load static %}
    {% load evacuation_extras %}
    {% load survey_extras %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'evacuation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/scss/widgets.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/scss/style.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/evacuation.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    {% block styles %}{% endblock %}

</head>
<body>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">Evacuation Assistant</a>
                <a class="navbar-brand hidden" href="./">EA</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if not request.user|has_group:"group_features_map" %}
                    <li>
                        <a href="/alerts"> <i class="menu-icon fa fa-exclamation-triangle"></i>Alerts</a>
                    </li>
                    {% endif %}
                    {% if not request.user|has_group:"group_features_alerts" %}
                    <li>
                        <a href="/building-map"> <i class="menu-icon fa fa-street-view"></i>Map</a>
                    </li>
                    {% endif %}
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-question-circle"></i>About</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="/statements"> <i class="fa fa-file-text-o"></i>Consent</a>
                            </li>
                            <li>
                                <a href="/walkthrough"> <i class="fa fa-users"></i>Walkthrough</a>
                            </li>
                        </ul>
                    </li>
                    {% is_survey_active request.user as survey_active %}
                    {% if survey_active %}
                    <li>
                        <a href="/survey"> <i class="menu-icon fa fa-check-square-o"></i>Survey</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/logout"> <i class="menu-icon fa fa-power-off"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>

    <div id="right-panel" class="right-panel">

        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-12">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <h5>{% block instruction_message %}{% endblock %}</h5>
                    </div>
                </div>
            </div>

        </header>

        <div id="content" class="content mt-3">
            {% block content %}{% endblock %}
        </div>

    </div>


    <script src="{% static 'evacuation/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'evacuation/js/popper.min.js' %}"></script>
    <script src="{% static 'evacuation/js/plugins.js' %}"></script>
    <script src="{% static 'evacuation/js/user_register.js' %}"></script>
    <script src="{% static 'evacuation/js/evacuation.js' %}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>
