{% extends "evacuation/base.html" %}

{% load static %}

{% block title %}Building map{% endblock %}

{% block styles %}
<script type="text/javascript" src="{% static 'evacuation/bower_components/mapwize.js/dist/mapwize.js' %}"></script>
<link rel="stylesheet" href="{% static 'evacuation/bower_components/mapwize.js/dist/mapwize.css' %}" />
<style>
#indoor-map {
       height: 82vh;
}
#map {
       position:absolute; top:0; bottom:0; width:100%; height: 100%;
}
</style>
{% endblock %}

{% block instruction_message %}
Tap your location on the map to see an exit route
{% endblock %}

{% block content %}
<div id="indoor-map"></div>

<div class="assembly-overlay">
    <button type="button" id="button-assembly-area">View<br>assembly area</button>
</div>

<div class="level-overlay">Level</div>

<div class="office-overlay">
    Office
    <select id="office-select" class="form-control-sm form-control">
        <option value="">--</option>
      </select>
</div>

<div class="modal modal-backdrop fade show" id="staticModal">
    <div class="modal-dialog modal-sm" role="document">
            <div class='loader-container'>
              <div class='loader'>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--text'></div>
              </div>
            </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var imagesUrl = "{% static 'evacuation/images/icons/' %}";
    var obstacles = {{ obstacles|safe }};
    var landmarks = {{ landmarks|safe }};
    var offices = {{ offices|safe }};
    var currentFloor = {{ floor }};
    var showAssembly = {{ show_assembly|yesno:"true,false" }};
    var deskLat, deskLon;
    {% if desk_lat %}
        deskLat = {{ desk_lat }};
        deskLon = {{ desk_lon }};
    {% endif %}
    console.log(deskLat, deskLon);
</script>
<script src="{% static 'evacuation/js/route_cache.js' %}"></script>
<script src="{% static 'evacuation/js/building_map.js' %}"></script>
<script>
    {% if not user.is_authenticated %}
    console.log('Something wrong with user id. Please check.');
    {% else %}
    userId = {{ user.id }};
    console.log(userId);
    localStorage.setItem('userId', userId);
    {% endif %}

    {% if not seen_tutorial %}
    window.location.href = '/walkthrough';
    {% endif %}
</script>
{% endblock %}

