{% extends "evacuation/base.html" %}

{% load static %}

{% block title %}Building map{% endblock %}

{% block styles %}
<script type="text/javascript" src="{% static 'evacuation/bower_components/mapwize.js/dist/mapwize.js' %}"></script>
<link rel="stylesheet" href="{% static 'evacuation/bower_components/mapwize.js/dist/mapwize.css' %}" />
<style>
#indoor-map {
       height: 550px;
}
#map {
       position:absolute; top:0; bottom:0; width:100%; height: 100%;
}
</style>
{% endblock %}

{% block content %}
<div id="indoor-map"></div>
{% endblock %}

{% block scripts %}
<script>
    var images_url = "{% static 'evacuation/images/' %}";
    var obstacles = {{ obstacles|safe }};
</script>
<script src="{% static 'evacuation/js/building_map.js' %}"></script>
{% endblock %}

