<ul class="card-text">
    <li>I consent to participate in this project, the details of which have been explained to me, and I have been provided with a written plain language statement to keep.</li>
    <li>I understand that the purpose of this research is to investigate how people behave during emergency evacuations when interacting with their mobile phones.</li>
    <li>I understand that my participation in this project is for research purposes only.</li>
    <li>I acknowledge that the possible effects of participating in this research project have been explained to my satisfaction.</li>
    <li>In this project, I will be required to install a mobile application in my phone, optionally use the application during evacuation, and fill out a survey at the end of the experiment.</li>
    <li>I understand that my participation is voluntary and that I am free to withdraw from this project anytime without explanation or prejudice and to withdraw any unprocessed data that I have provided.</li>
    <li>I understand that my location throughout the experiment will be tracked and stored for analysis.</li>
    <li>I understand that my interactions with the mobile application throughout the experiment will be recorded and stored for analysis.</li>
    <li>I understand that I am free to use the mobile phone and mobile app during the experiment but am not required to.</li>
    <li>I acknowledge that the potential risks of using the mobile phone during evacuation have been explained to my satisfaction.</li>
    <li>I understand that I will be asked to complete a survey after the evacuation takes place.</li>
    <li>I understand that the data will be collected anonymously.</li>
    <li>I understand that the data from this research will be stored at the University of Melbourne and will be destroyed after 5 years of last publication.</li>
    <li>I have been informed that the confidentiality of the information I provide will be safeguarded subject to any legal requirements; my data will be password protected and accessible only by the named researchers.</li>
    <li>I understand that after I sign and return this consent form, it will be retained by the researcher.</li>
</ul>