{% extends "evacuation/base.html" %}

{% block content %}
<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>{% block title %}Home{% endblock %}</h1>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-12">
    <a href="alerts">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-alert text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Alerts <span class="badge badge-primary">4</span></div>
                            <div class="stat-text">Tap to see the alert messages</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-lg-6 col-md-12">
    <a href="building-map">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-map-alt text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Building map</div>
                            <div class="stat-text">Tap to see the building's map</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}


{% block scripts %}
<script>
    {% if not user.is_authenticated %}
    console.log('Something wrong with user id. Please check.');
    {% else %}
    userId = {{ user.id }};
    console.log(userId);
    localStorage.setItem('userId', userId);
    {% endif %}

    {% if not seen_tutorial %}
    window.location.href = '/walkthrough';
    {% endif %}
</script>
{% endblock %}