<h4>Project: The use of mobile phones during emergency evacuations</h4>
<p class="card-text researcher">Dr Maria Vasardani<br>Tel: +61 42955 1957:<br>Email: maria.vasardani@unimelb.edu.au</p>
<p class="card-text researcher">Mr David Amores (PhD student)<br>Email: damores@student.unimelb.edu.au</p>

<h4>Introduction</h4>
<p class="card-text">Thank you for your interest in participating in this research project. The following is information about the project, so that you can decide if you would like to take part in this research.</p>
<p class="card-text">Please take the time to read this information carefully. You may ask questions about anything you do not understand or want to know more about.</p>
<p class="card-text">Your participation is voluntary. If you don’t wish to take part, you do not have to. If you begin participating, you can also stop at any time.</p>

<h4>What is this research about?</h4>
<p class="card-text">This research seeks to analyse behaviours from people during an emergency evacuation with the support of and interaction with a mobile application.</p>

<h4>What will I be asked to do?</h4>
<p class="card-text">Should you agree to participate, you will install a mobile application in your phone, which you are not required to use but may use as you wish for helping you during the evacuation process. The mobile app contains instructions to evacuate the building such as alerts, nearest exit, best route to take, etc. We will record your actions done with the app and the movements detected by the mobile phone. We will also ask you to fill out a survey with general information and regarding your experience after the experiment. The experiment will last what a normal emergency evacuation drill lasts.</p>

<h4>What are the possible benefits?</h4>
<p class="card-text">This research aims at analysing the effect that interacting with mobile apps during emergency evacuations has on people’s performance and behaviour.</p>

<h4>What are the possible risks?</h4>
<p class="card-text">Potential risks are unintentionally bumping into obstacles because of the distraction caused by interaction with the mobile phone.</p>

<h4>Do I have to take part?</h4>
<p class="card-text">No. Participation is completely voluntary. You are able to withdraw at any time. Additionally, if you do not wish to share your data with us anymore you may withdraw your data as well and we will delete it from our database.</p>

<h4>Will I hear about the results of this project?</h4>
<p class="card-text">If you would like to follow up with this project, you may leave us your email address and will let you know once results are published in an appropriate scientific outlet.</p>

<h4>What will happen to information about me?</h4>
<p class="card-text">The information regarding your interactions and the survey is stored in a database in a secure server. Username and password authentication is needed in order to access the data and access rights are given only to researchers relevant to this experiment. Furthermore, the information we store about you is not identifiable. That is, any person reading and analysing the data won’t be able to identify you given this data. Therefore, data is completely anonymous. The data needs to be stored for at least five years from the latest publication and then it will be destroyed.</p>

<h4>Where can I get further information?</h4>
<p class="card-text">If you would like more information about the project, please contact the researchers:</p>
<p class="card-text">Dr Maria Vasardani mvasardani@unimelb.edu.au or A/Prof Egemen Tanin etanin@unimelb.edu.au.</p>

<h4>Who can I contact if I have any concerns about the project?</h4>
<p class="card-text">This research project has been approved by the Human Research Ethics Committee of The University of Melbourne. If you have any concerns or complaints about the conduct of this research project, which you do not wish to discuss with the research team, you should contact the Manager, Human Research Ethics, Research Ethics and Integrity, University of Melbourne, VIC 3010. Tel: +61 3 8344 2073 or Email: HumanEthics-complaints@unimelb.edu.au. All complaints will be treated confidentially. In any correspondence please provide the name of the research team or the name or ethics ID number of the research project.</p>
