<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'evacuation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/scss/style.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/evacuation.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                            <span class="badge badge-pill badge-success">Success</span>
                                {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                            <span class="badge badge-pill badge-danger">Error</span>
                                {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="login-form">
                    <form method="post" action="register">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email address</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
                            <small id="email-error" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label>Age</label>
                            <input id="age" name="age" type="number" class="form-control" placeholder="E.g. 32" required>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <select id="gender" name="gender" class="form-control" required>
                              <option value="">--</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Do you work in this building?</label>
                            <select id="building_occupant" name="building_occupant" class="form-control" required>
                              <option value="">--</option>
                              <option value="1">Yes</option>
                              <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>In what level is your office located?</label>
                            <select id="floor" name="floor" class="form-control">
                              <option value="">--</option>
                              <option value="0">Ground floor</option>
                              <option value="1">Level 1</option>
                              <option value="2">Level 2</option>
                              <option value="3">Level 3</option>
                            </select>
                        </div>
                          <div class="form-group">
                            <label class=" form-control-label">Do you have a mobility restriction?</label>
                              <div class="form-check">
                                <div class="radio">
                                  <label for="mobility_no" class="form-check-label ">
                                    <input type="radio" id="mobility_no" name="mobility" value="0" class="form-check-input">No
                                  </label>
                                </div>
                                <div class="radio">
                                  <label for="mobility_yes" class="form-check-label ">
                                    <input type="radio" id="mobility_yes" name="mobility" value="1" class="form-check-input">Yes
                                  </label>
                                    <input id="mobility_explain" name="mobility_restriction" type="text" class="form-control" placeholder="If yes, please explain">
                                </div>
                              </div>
                          </div>
                        <div class="form-group">
                            <label>Your phone's make:</label>
                            <select id="phone_make" name="phone_make" class="form-control" required>
                              <option value="">--</option>
                              <option value="Iphone">Iphone</option>
                              <option value="Android">Android</option>
                              <option value="Other">Other</option>
                            </select>
                        </div>
                          <div class="form-group">
                            <label class=" form-control-label">What do you use your smartphone for?</label>
                              <div class="form-check">
                                <div class="checkbox">
                                  <label for="use_calls">
                                      <input type="checkbox" id="use_calls" name="phone_use[]" value="1" class="form-check-input" />Calls
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_messaging">
                                      <input type="checkbox" id="use_messaging" name="phone_use[]" value="2" class="form-check-input" />Messaging
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_social">
                                      <input type="checkbox" id="use_social" name="phone_use[]" value="3" class="form-check-input" />Social networks
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_games">
                                      <input type="checkbox" id="use_games" name="phone_use[]" value="4" class="form-check-input" />Games
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_video">
                                      <input type="checkbox" id="use_video" name="phone_use[]" value="5" class="form-check-input" />Video streaming
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_business">
                                      <input type="checkbox" id="use_business" name="phone_use[]" value="6" class="form-check-input" />Business applications
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_browsing">
                                      <input type="checkbox" id="use_browsing" name="phone_use[]" value="7" class="form-check-input" />Browsing internet
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_reading">
                                      <input type="checkbox" id="use_reading" name="phone_use[]" value="8" class="form-check-input" />Reading
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label for="use_other">
                                      <input type="checkbox" id="use_other" name="phone_use[]" value="9" class="form-check-input" />Other
                                  </label>
                                </div>
                              </div>
                          </div>

                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">Statements</strong>
                            </div>
                            <div class="card-body">
                                <div class="default-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-consent-tab" data-toggle="tab" href="#nav-consent" role="tab" aria-controls="nav-consent" aria-selected="true">Consent</a>
                                            <a class="nav-item nav-link" id="nav-pls-tab" data-toggle="tab" href="#nav-pls" role="tab" aria-controls="nav-pls" aria-selected="false">Instructions</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2 register-statement" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-consent" role="tabpanel" aria-labelledby="nav-consent-tab">
                                            {% include "evacuation/consent.html" %}
                                        </div>
                                        <div class="tab-pane fade" id="nav-pls" role="tabpanel" aria-labelledby="nav-pls-tab">
                                            {% include "evacuation/pls.html" %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required> I have read and agree with the consent and plain language statement
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="login"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'evacuation/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'evacuation/js/popper.min.js' %}"></script>
    <script src="{% static 'evacuation/js/plugins.js' %}"></script>
    <script src="{% static 'evacuation/js/register.js' %}"></script>


</body>
</html>
