{% extends "evacuation/base.html" %}

{% block content %}

<div class="card border border-secondary">
    <div class="card-header">
        <strong class="card-title">Statements</strong>
    </div>
    <div class="card-body">
        <div class="default-tab">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-consent-tab" data-toggle="tab" href="#nav-consent" role="tab" aria-controls="nav-consent" aria-selected="true">Consent</a>
                    <a class="nav-item nav-link" id="nav-pls-tab" data-toggle="tab" href="#nav-pls" role="tab" aria-controls="nav-pls" aria-selected="false">Plain Language</a>
                </div>
            </nav>
            <div class="tab-content pl-3 pt-2 register-statement in-page" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-consent" role="tabpanel" aria-labelledby="nav-consent-tab">
                    {% include "evacuation/consent.html" %}
                </div>
                <div class="tab-pane fade" id="nav-pls" role="tabpanel" aria-labelledby="nav-pls-tab">
                    {% include "evacuation/pls.html" %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}