<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load static %}
    {% load webpush_notifications %}
    {% load evacuation_extras %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Walkthrough</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'evacuation/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'walkthrough/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'evacuation/css/walkthrough.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    {% webpush_header %}

</head>
<body>
<div class='walkthrough show reveal col-12 col-md-4 col-sm-6'>
  <div class='walkthrough-pagination'>
    <a class='dot active'></a>
    {% if not request.user|has_group:"group_features_map" %}
    <a class='dot'></a>
    <a class='dot'></a>
    {% endif %}
    {% if not request.user|has_group:"group_features_alerts" %}
    <a class='dot'></a>
    <a class='dot'></a>
    <a class='dot'></a>
    {% endif %}
    <a class='dot'></a>
  </div>
  <div class='walkthrough-body'>
    <ul class='screens animate'>
      <li class='screen active'>
        <img src="{% static 'evacuation/images/evacassist.png' %}" class="logo-image">
        <h3>
          Hey there! Welcome to EvacAssist!
        </h3>
        <p>This app is designed to help you evacuate 11 Barry St building during emergencies.
          Please read this tutorial to learn the features this app offers.</p>
      </li>
      {% if not request.user|has_group:"group_features_map" %}
      <li class='screen'>
        <img src="{% static 'evacuation/images/push-notifications.png' %}" class="logo-image">
        <h3>
          Push Notifications
        </h3>
        <p>This app uses push notifications to send you alerts. Please press the button bellow and choose "Allow" when prompted by the browser.</p>
        {% webpush_button %}
      </li>
      <li class='screen'>
        <h3>
          Alerts
        </h3>
        <p>Sent alerts will be available in your app.</p>
        <img src="{% static 'evacuation/images/walkthrough-alerts.png' %}" class="tutorial-image">
      </li>
      {% endif %}
      {% if not request.user|has_group:"group_features_alerts" %}
      <li class='screen'>
        <h3>
          Map
        </h3>
        <p>You can see a map of the building.</p>
        <img src="{% static 'evacuation/images/walkthrough-map.png' %}" class="tutorial-image">
      </li>
      <li class='screen'>
        <h3>
          Exit routes
        </h3>
        <p>Click anywhere on the map to get the an exit route.</p>
        <img src="{% static 'evacuation/images/walkthrough-route.png' %}" class="tutorial-image">
        <img src="{% static 'evacuation/images/tap-hand.png' %}" class="tap-image">
      </li>
      <li class='screen'>
        <h3>
          Assembly area
        </h3>
        <p>Zoom out in order to see the full route to the assembly area.</p>
        <img src="{% static 'evacuation/images/walkthrough-assembly.png' %}" class="tutorial-image">
      </li>
      {% endif %}
      <li class='screen'>
        <h3>
          Done
        </h3>
        <p>Thanks for going through this tutorial</p>
        <form action="/">
          <input type="hidden" name="seen_tutorial" value="{{ seen_tutorial }}" />
          <button type="submit" class="btn btn-outline-success">
            <i class="fa fa-check"></i>&nbsp; Close
          </button>
        </form>
      </li>
    </ul>
    <button class='prev-screen'>
      <i class='icon-angle-left'></i>
    </button>
    <button class='next-screen'>
      <i class='icon-angle-right'></i>
    </button>
  </div>
  <div class='walkthrough-footer'>
    <button class='button next-screen'id="next-screen">Next</button>
    <form action="/">
      <input type="hidden" name="seen_tutorial" value="{{ seen_tutorial }}" />
      <button type="submit" class='button finish close' disabled='true'>Finish</button>
    </form>
  </div>
</div>

<script src="{% static 'evacuation/js/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'evacuation/js/walkthrough.js' %}"></script>

</body>
</html>
